
/*
.site-footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.95rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

*/


.site-footer {
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
  font-size: 0.9rem;
  color: #444;
  border-top: 1px solid #ddd;
}